.varwhite-text {
    color: var(--second-text-color);
}

.varblue-text {
    color: var(--primary-font-color);
}

.vargray-text {
    color: var( --cards-description);
}

.varback-color {
    background-color: var(--background-color);
}